:root {
    --orange-pmb: #f69f1d;
    --orange-dark-pmb: #d68b1b;

    --pink-pmb : #fa3399;
    --blue-pmb : #0aacfc;
}

.orange-bg{
    background-color: var(--orange-pmb);
}

.btn.orange-bg:hover{
    background-color: var(--orange-dark-pmb);
}

.text-orange-pmb{
    color: var(--orange-pmb);
}
.text-pink-pmb{
    color: var(--pink-pmb);
}
.text-blue-pmb{
    color: var(--blue-pmb);
}

.pmb-logo.header{
    width: 50px;
}

.pmb-typo{
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

.eur::after{
    content: ' €';
}

.fs-5em{
    font-size: 5em;
}