:root {
    --orange-pmb: #f69f1d;
    --orange-dark-pmb: #d68b1b;
}

.orange-bg{
    background-color: var(--orange-pmb);
}

.btn.orange-bg:hover{
    background-color: var(--orange-dark-pmb);
}

.pmb-logo.header{
    width: 50px;
}

.pmb-typo{
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

.eur::after{
    content: ' €';
}