:root {
    --orange-pmb: #f69f1d;
    --orange-pmb-025: rgba(246, 159, 29, 0.25);
    --orange-dark-pmb: #d68b1b;

    --pink-pmb: #fa3399;
    --blue-pmb: #0aacfc;
}

/* unused : non conforme WCAG */
.orange-bg { 
    background-color: var(--orange-pmb);
}

/* unused : non conforme WCAG */
.btn.orange-bg:hover {
    background-color: var(--orange-dark-pmb);
}

/* unused : non conforme WCAG */
.btn.orange-bg:focus-visible{
    background-color: var(--orange-dark-pmb) !important;
    border-color: var(--pink-pmb) !important;
    box-shadow: 0 0 0 .25rem var(--orange-pmb-025);
}

/* unused : non conforme WCAG */
.btn.orange-bg:focus:not(:focus-visible){
    outline: 0;
}

.text-orange-pmb {
    color: var(--orange-pmb);
}

.text-pink-pmb {
    color: var(--pink-pmb);
}

.text-blue-pmb {
    color: var(--blue-pmb);
}

.pmb-logo.header {
    width: 50px;
}

.pmb-typo {
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

.eur::after {
    content: ' €';
}

.fs-5em {
    font-size: 5em;
}